spring:
  application:
    name: AI-DreDaline_BE
  profiles:
    active : dev

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
    hibernate:
      ddl-auto: validate  # ?? : update /????; validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

server:
  port: 8080

flask:
  server:
    url: http://localhost:5001

app:
  base-url: http://localhost:8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.aidredaline: DEBUG

# Swagger/OpenAPI ??
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    groups-order: DESC
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json